.text_world {
  width: 80%;
  margin-bottom: 3rem;
}

.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
  margin-bottom: 3rem;
}

.iframe_container {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.iframe_container iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
}

@media (min-width: 768px) {
  .iframe_container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .text_world {
    width: 100%;
  }

  .iframe_container {
    width: 100%;
    max-width: none;
    margin: 0;
  }

  .iframe_container iframe {
    height: 250px;
  }
  
}
