/* Estilo para el contenedor principal .hero */
.hero {
  background-size: cover;
  height: 40vh;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

/* Estilo para el contenido dentro del .hero */
.hero_content {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

/* Estilo para el contenido de la izquierda dentro de .hero_content */
.left_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Estilo para el título en el encabezado */
.header_title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  letter-spacing: 1px; /* Cambié el valor de 10px a 1px para hacerlo más legible */
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilo para el texto en el encabezado */
.header_text {
  font-size: 1.2rem;
  width: 70%;
}

/* Estilo para el contenedor de los botones */
.btn_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estilo para los botones */
.btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

/* Estilo para los botones en estado hover */
.btn:hover {
  background-color: #fff;
  color: black;
  transform: scale(1.05);
}

/* Estilos para pantallas pequeñas (menos de 720px de ancho) */
@media (max-width: 720px) {
  .header_title {
    font-size: 2.5rem;
  }
  
  .header_text {
    font-size: 0.8rem;
  }
}
