:root{
  height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  margin: 0;
  padding: 0;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}

/* Párrafos */
p {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
}
