@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap");
@import url('/src/views/Home.module.css');
@import url('/src/components/global/CardComponent.module.css');
@import url('/src/components/home/HeaderComponent.module.css');

:root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Títulos */
}

h2, h3 {
  font-family: 'Playfair Display', serif; /* Subtítulos */
}

p {
  font-family: 'Lato', sans-serif; /* Párrafos */
}