.button {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button_1 {
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #ffffff;
}
.button_1:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}
